@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap");

:root {
  --main-color: #ffffff;
  --second-color: #000000;
  --third-color: #26b0eb;
  --main-font-size: clamp(24px, 2.5vw, 36px);
  --small-font-size: clamp(16px, 2vw, 24px);
  --vsmall-font-size: clamp(14px, 1.2vw, 18px);
  --main-font: "Montserrat";
}

/* THE MULTI USE START */
.third-color {
  color: var(--third-color);
}

/* THE MULTI USE END */

body {
  background: var(--main-color);
  color: var(--second-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "nav" "all";
}

body.glowna > nav {
  grid-area: nav;
  padding: 28px 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body.glowna > nav > h1 {
  margin: 0;
  font-size: var(--main-font-size);
  font-weight: 600;
}

body.glowna > nav > a {
  text-decoration: none;
  font-size: var(--small-font-size);
  color: var(--main-color);
  background: var(--second-color);
  padding: 8px 24px;
  border-radius: 20px;
}

body.glowna > nav > a:hover {
  background: var(--third-color);
  color: var(--second-color);
}

body.glowna > div.all {
  grid-area: all;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "main aside" "footer aside";
}

body.glowna > div.all > main {
  padding: 5px 4vw;
  grid-area: main;
}

body.glowna > div.all > main > h2 {
  text-align: left;
  font-size: clamp(40px, 5vw, 80px);
  font-weight: 900;
  margin-top: 0;
}

body.glowna > div.all > main > h3 {
  text-align: right;
  font-size: var(--small-font-size);
}

body.glowna > div.all > aside {
  grid-area: aside;
  background-image: url("/img/main.jpeg");
}

body.glowna > div.all > footer {
  padding: 5px 20px;
  grid-area: footer;
  font-size: var(--vsmall-font-size);
  text-align: center;
  font-weight: 800;
}
