<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiermasz ZS2</title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body class="glowna">
    <nav>
      <h1><span class="third-color">KIERMASZ</span> ZS2</h1>
      <a href="login"> Login </a>
    </nav>

    <div class="all">
      <main>
        <h2>
          TANIE I <br />DOSTĘPNE<br />
          KSIĄŻKI
        </h2>
        <h3>
          Nasze książki są od uczniów dla uczniów <br />
          w przystępnych cenach
        </h3>
      </main>
      <aside></aside>
      <footer>
        W celu korzystania ze strony poproś wychowawcę o login oraz zapoznaj się
        z regulaminem
      </footer>
    </div>
  </body>
</html>
