<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dodaj.css" />
    <title>Regulamin - kiermasz ZS2</title>
  </head>
  <body>
    <%- include ("../includes/nav_semi.ejs")%>
    <main>
      <h1 class="regulamin">Regulamin</h1>

      <ol>
        <li>
          Organizatorem Kiermaszu książek jest Szkolna Biblioteka Zespołu Szkół
          nr.2 w Pabianicach, zwana dalej Biblioteką.
        </li>
        <li>
          Kiermasz skierowany jest do uczniów Szkół, w szczególności dla ZS2 w
          Pabianicach.
        </li>
        <li>
          Książki przeznaczone na Kiermasz pochodzą z selekcji księgozbioru
          Biblioteki, szczególnie ze zbiorów uczniów
        </li>
        <li>Z książek zostały wykreślone znaki własnościowe.</li>
        <li>Celem Kiermaszu jest nadanie drugiego życia podręcznikom.</li>
        <li>
          Książki wyłożone są na wyznaczonych miejscach w holu Biblioteki.
        </li>
        <li>
          Książki zostały wycenione na kwoty podane w ogłoszeniu za egzemplarz.
        </li>
        <li>Jednorazowo można zakupić dowolną liczbę książek.</li>
        <li>Książki nie podlegają wymianie ani zwrotowi.</li>
        <li>Kiermasz trwa od 4 grudnia do 15 grudnia 2023</li>
        <li>
          <b
            >Zabrania się:
            <ul>
              <li>Składania fałszywych zamówień.</li>
              <li>Spamowania.</li>
              <li>Obrażania innych użytkowników(chyba że to konieczne).</li>
            </ul></b
          >
        </li>
      </ol>
    </main>
  </body>
</html>
